.image-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 60%;
  height: 60%;
  overflow: hidden;
}

.image-popup img {
  height: 100%;
  width: 100%;
}

.image-popup .close {
  position: absolute;
  top: -10px;
  right: 0;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
}

.image-popup .close:hover {
  color: #ff0000;
}
.pdf-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 75%;
  height: 90%;
  overflow: auto;
}

.pdf-popup .close {
  position: absolute;
  top: -10px;
  right: 0;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
}
.video-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: auto;
  height: auto;
  overflow: auto;
}

.video-popup .close {
  position: absolute;
  top: -10px;
  right: 0;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
}

.video-popup video {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
